body {
  margin-top: 40px;
}

nav {
  left: -1;
  top: 0; 
  border: solid black;
  position: fixed;
  background: white;
  width: 100%;
  text-align: center;
}


nav ul li {
  display: inline-block;
  padding-left: 100px;
  text-align: center
}

section {
  height: 900px;
}

section h1 {
  text-align: center;
}

section, #home{
  background-color: pink;
  margin: auto;
}

section, #about{
  background-color: blue;
}
section, #skills{
  background-color: green;
}
section, #experience{
  background-color: red;
}
section, #projects{
  background-color: orange;
}
section, #contact{
  background-color: purple;
}

h1 {
  font-size: 120px;
  margin-top: auto;
}

.experience_logo {
  margin: auto;
  width: 900px;
}

.experience_logo img {
  width: 200px;
  height: auto;
  margin-bottom: 50px;
}

.experience_logo li {
  display: inline-block;
}

.listing_projects img {
  width: 400px;
  height: auto;
}

.contact li {
  display: inline-block; 
  padding: 30px;
  margin-right: 50px;
  background: white; 
}

.contact li:hover{
  background-color: red;
}

#tooltip {
  display:none;
border:1px solid #F00;
width:150px;
}