nav {
  border: solid black;
}

nav ul li {
  display: inline-block;
}

section {
  height: 900px;
}

section h1 {
  text-align: center;
}

section #home{
  background-color: pink;
  text-align: center;
  margin: auto;
}

section, #about{
  background-color: blue;
}
section, #skills{
  background-color: green;
}
section, #experience{
  background-color: red;
}
section, #projects{
  background-color: orange;
}
section, #contact{
  background-color: purple;
}

h1 {
  font-size: 120px;
  margin-top: auto;
}

.experience_logo {
  margin: auto;
  width: 900px;

}

.experience_logo img {
  width: 200px;
  height: auto;
  margin-bottom: 50px;
}

.experience_logo li {
  display: inline-block;
}
