*,*:after,*:before{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
body{
  position:relative;
  margin:0;
  padding:0;
  height:100%;
  background:#fdfdfd;
}
.tp{
  position:relative;
  display: inline-block;
  width: 15.0%;
  height: auto;
  padding: 0;
  margin: 0.1em; 
  overflow:hidden;
  border: 5px solid #EBEBEB;
}
.tp span{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.tp img {
  display: block;
  width: 100%;
}
.tp:after{
  content: url(https://dl.dropboxusercontent.com/u/23834858/fotos/loader.gif);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  overflow: hidden;
  z-index: 9999;
  visibility:hidden;
  opacity:0;
  -webkit-animation: loader 5s 1 linear;
  animation: loader 5s 1 linear;
}
@-webkit-keyframes loader{
  0%{
    opacity:1;
    visibility:visible;
    background:#ECF0F1;
  }
}
@keyframes loader{
  0%{
    opacity:1;
    visibility:visible;
    background:#ECF0F1;
  }
}
.info{
  display: block;
  color: #F78181;
  margin: 0 auto;
  padding: 5px;
  opacity:1;
  visibility:visible;
  -webkit-animation: info 7s 1 linear;
  animation: info 7s 1 linear;
}
@-webkit-keyframes info{
  0%{
    opacity:0;
    visibility:hidden;
  }
}
@keyframes info{
  0%{
    opacity:0;
    visibility:hidden;
  }
}
.tp span:after,.tp span:before{
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  padding: 5px 10px;
  overflow:hidden;
  z-index:9999;
  opacity:0;
  -webkit-transform: translate(100%,0);
  -ms-transform: translate(100%,0);
  transform: translate(100%,0);
  background: #F87F7F;
  border: 1px solid #EC6363;
  color: #FFF;
}
.tp span:before {
  content: attr(data-title);
  border-botttom: none;
  -webkit-transition:all 1s ease;
  transition:all 1s ease;
}
.tp span:after{
  content:attr(data-content);
  top: 28px;
  text-align: left;
  border-top: none;
  -webkit-transition:all 1s ease;
  transition:all 1s ease;
}
.tp span:hover:after,.tp span:hover:before{
  opacity:1;
  -webkit-transform: translate(0%,0);
  -ms-transform: translate(0%,0);
  transform: translate(0%,0);
  -webkit-transition:all 1s ease;
  transition:all 1s ease;
}